<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Diagramming" publicKeyToken="dd7449df9ffcc455" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.0.451" newVersion="6.6.0.451" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MindFusion.Licensing" publicKeyToken="9d02e21d957ddaef" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4.38034" newVersion="1.0.4.38034" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>